*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.container{
    margin-top: 10%;
    box-shadow: inset 0 -3em 3em white,
    0 0 0 0px white,
    0.3em 0.3em 1em gainsboro;
    border-radius: 20px;
}
.section1{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: inline-block;
    text-align: center;
    border-radius: 20px;
}


.headingSection1{
    padding: 18px;
    color: hsl(241, 100%, 89%);
}
.circle{
    border-radius: 50%;
    width: 30%;
    padding: 27px;
    margin-left: 10vh;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}
.score{
    color: white;
}
.totalScore{
    color: hsl(241, 100%, 89%);
}

.great{
    color: white;
    padding: 20px;
}
.quote{
    color: hsl(241, 100%, 89%);
    padding: 0 25px 50px 25px;
    font-size: 15px;
}

.section2{
    display: inline-block;
    padding: 10px 20px;
}

.summary{
    padding-bottom: 10px;
}
.spacing{
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    font-size: 15px;
}


.reaction{
    background-color: hsla(0, 100%, 67%, 0.1);
}
.reaction span{
    padding-right: 50px;
    color: hsl(0, 100%, 67%);
}


.memory{
    background-color: hsla(39, 100%, 56%, 0.1);
}
.memory span{
    padding-right: 50px;
    color: hsl(39, 100%, 56%);
}


.verbal{
    background-color: hsla(166, 100%, 37%, 0.1);
}
.verbal span{
    padding-right: 50px;
    color: hsl(166, 100%, 37%);
}


.visual{
    background-color: hsla(234, 85%, 45%, 0.1);
}
.visual span{
    padding-right: 50px;
    color: hsl(234, 85%, 45%);
}

button{
    color: white;
    background-color: hsl(224, 30%, 27%);
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    margin-top: 10px;
}
i{
    margin-right: 10px;
}